DirectionsApril2023/Workflows/Schedulesupportvisit-509C4675-D3D2-ED11-A7C7-000D3A991110.json
{
  "properties": {
    "connectionReferences": {
      "shared_dynamicssmbsaas_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "cr301_BcConnection"
        },
        "api": {
          "name": "shared_dynamicssmbsaas"
        }
      },
      "shared_teams": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "cr301_sharedteams_4e4a1"
        },
        "api": {
          "name": "shared_teams"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "TeamsRecipient (cr301_TeamsRecipient)": {
          "defaultValue": "admin@M365B506604.onmicrosoft.com",
          "type": "String",
          "metadata": {
            "schemaName": "cr301_TeamsRecipient"
          }
        }
      },
      "triggers": {
        "manual": {
          "splitOn": "@triggerBody()['rows']",
          "metadata": {
            "operationMetadataId": "fb31057e-9c2d-43ea-b02e-e0daab004a72"
          },
          "type": "Request",
          "kind": "ApiConnection",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "rows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "title": "Person ",
                        "type": "string",
                        "x-ms-dynamically-added": true,
                        "description": "Please enter your input",
                        "x-ms-content-hint": "TEXT",
                        "enum": [
                          "Horina (Orlando Magic Crew)",
                          "Evgenij (Orlando Magic Crew)"
                        ]
                      },
                      "date": {
                        "title": "Appointment date",
                        "type": "string",
                        "format": "date",
                        "x-ms-dynamically-added": true,
                        "description": "Please enter or select a date (YYYY-MM-DD)",
                        "x-ms-content-hint": "DATE"
                      },
                      "boolean": {
                        "title": "Replacement needed",
                        "type": "boolean",
                        "x-ms-dynamically-added": true,
                        "description": "Please select yes or no",
                        "x-ms-content-hint": "BOOLEAN"
                      },
                      "entity": {
                        "type": "object",
                        "properties": {
                          "PageId": {
                            "title": "Page Id",
                            "type": "string"
                          },
                          "WebClientUrl": {
                            "title": "Web Client URL",
                            "type": "string"
                          }
                        },
                        "required": [
                          "PageId",
                          "WebClientUrl"
                        ]
                      }
                    },
                    "required": [
                      "text",
                      "date",
                      "boolean",
                      "entity"
                    ]
                  }
                }
              },
              "required": [
                "rows"
              ]
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_dynamicssmbsaas_1']['connectionId']"
              }
            },
            "operationId": "ForASelectedRecordV3",
            "parameters": {
              "bcenvironment": "POWERAPPSTEST",
              "company": "a0d54bf1-ffb7-ed11-a389-000d3a269d47",
              "context": "TABLE18"
            }
          }
        }
      },
      "actions": {
        "Post_message_in_a_chat_or_channel": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6fe71557-9765-443a-a1ac-bee24d4cc4eb"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_teams",
              "operationId": "PostMessageToConversation",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
            },
            "parameters": {
              "poster": "Flow bot",
              "location": "Chat with Flow bot",
              "body/recipient": "@parameters('TeamsRecipient (cr301_TeamsRecipient)')",
              "body/messageBody": "<p>Hi Horina!!&nbsp;<br>\n<br>\nNeed to go here... (MAP)<br>\nAddress (HERE)<br>\nYou have an appointment scheduled on @{triggerBody()['date']}<br>\nAll details ...</p>"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Get_adaptive_card_(V3)": {
          "runAfter": {
            "Post_message_in_a_chat_or_channel": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d2d89133-dabe-48f7-90c4-dbea1f3afe01"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_dynamicssmbsaas_1",
              "operationId": "GetAdaptiveCardV3",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_dynamicssmbsaas"
            },
            "parameters": {
              "targeturl": "@triggerBody()?['entity']?['WebClientUrl']",
              "targetapp": "Teams"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Post_card_in_a_chat_or_channel": {
          "runAfter": {
            "Get_adaptive_card_(V3)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7e5cf0b8-1cfe-4b74-99ae-692c257be599"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_teams",
              "operationId": "PostCardToConversation",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
            },
            "parameters": {
              "poster": "Flow bot",
              "location": "Chat with Flow bot",
              "body/recipient": "@{parameters('TeamsRecipient (cr301_TeamsRecipient)')};",
              "body/messageBody": "@outputs('Get_adaptive_card_(V3)')?['body/AdaptiveCardJsonString']"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}